<div class="task-manager">
  <div class="bg-orbs">
    <div class="orb orb-1"></div>
    <div class="orb orb-2"></div>
    <div class="orb orb-3"></div>
  </div>

  <header class="header">
    <h1>🧊 Task Manager</h1>
    <p>Stay organized and track your progress easily</p>
  </header>

  <div class="layout">
    <div class="panel task-list">
      <h2>Your Tasks</h2>
      <div *ngFor="let task of tasks" class="task-card">
        <div>
          <h2>{{task.sender}}</h2>
          <h3>{{task.content}}</h3>
          <span>{{task.timeStamp}}</span>
          
        </div>

        <span>{{task.receiver}}</span>
      </div>
    </div>

    <div class="panel task-form">
      <h2>Add Task</h2>
      <form [formGroup]="form">
        <label>Sender Name</label>
        <p>
          <input formControlName="sender" type="text" />
        </p>
        <label>receiver </label>
        <p>
          <input formControlName="receiver" type="text" />
        </p>
         <label>Content </label>
        <p>
          <input formControlName="content" type="text" />
        </p>
        <p>
          <button (click)="click()">Add</button>
        </p>
      </form>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
